nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;

  #logo_container {
    #logo {
      width: 90px;
    }
  }

  #link_container {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      gap: 3.2rem;
      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: black;
          &:hover {
            color: rgb(36, 163, 180);
          }
        }
      }
    }
  }
}

.encart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  gap: 5%;

  .encarts {
    img {
      width: 250px;
    }
    figcaption {
      text-align: center;
    }
  }
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;

  .box {
    width: auto;
    height: 4rem;
    background-color: rgb(3, 95, 148);
    border-radius: 0.5rem;
    border: 1px solid black;
    &:hover {
      background-color: rgb(0, 0, 0);
    }
  }
  .parent_box {
    width: 100%;
  }

  .box_secondgroup {
    display: flex;
    width: 100%;
    gap: 0.5rem;

    .group1 {
      display: flex;
      gap: 0.5rem;
      padding-top: 0.5rem;
      .box {
        width: 50%;
      }
    }

    .group2 {
      width: 45%;
      .box {
        height: 100%;
      }
    }
  }

  .box_thirdgroup {
    display: flex;
    gap: 0.5rem;
    .box {
      width: 100%;
    }
  }
}

.grid_boxs {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .grid_box {
    width: 100%;
    height: 3rem;
    background-color: rgb(40, 0, 92);
    color: white;
    border: 1px solid black;
    border-radius: 0.3rem;
    text-align: center;
  }

  .gb1 {
    grid-column: 1/4;
    grid-row: 1/1;
  }

  .gb2 {
    grid-column: 1/3;
  }

  .gb3 {
    grid-column: 3/4;
    grid-row: 2/4;
    height: 100%;
  }

  .gb6 {
    grid-column: 1/3;
  }

  .gb8 {
    grid-column: 1/4;
  }

  .gh {
    background-color: rgb(143, 143, 143) !important;
  }

  .gh1 {
    grid-column: 1/4;
    grid-row: 1/1;
  }

  .gh5 {
    grid-column: 2/4;
    grid-row: 3/3;
  }

  .gh6 {
    grid-column: 1/3;
    grid-row: 4/4;
  }

  .gh7 {
    grid-column: 3/4;
    grid-row: 4/4;
  }

  .gh8 {
    grid-column: 1/4;
    grid-row: 5/5;
  }
}

.section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;

  .imageSectionTest {
    width: 50%;
    max-width: 100%;
    border-radius: 1rem;
  }

  .petit-texte {
    font-size: 14px;
    color: #555;
  }

  .toggle-desc {
    display: none;
  }

  .arrow-container {
    margin: 15px 0;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s;
  }

  .arrow-down {
    font-size: 24px;
    transition: transform 0.3s;
    display: inline-block;
  }

  .description-box {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
  }

  .textBoxBlack {
    color: black;
  }

  .toggle-desc:checked ~ .description-box {
    max-height: 500px;
    padding: 15px;
  }

  .toggle-desc:checked ~ .arrow-container .arrow-down {
    transform: rotate(180deg);
    transform: scale(1.5);
  }
}

footer {


  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-img-container {
      img {
        max-width: 50%;
      }
    }

    nav {
      
      .footer-link {
        margin: 0 auto;
        display: flex;
        gap: 3rem;
        padding: 0;
        list-style-type: none;
      }
    }

    .footer-socials {
      display: flex;
      gap: 2rem;
    }
  }

  .footer-bottom {
    display: flex;
    .copyright {
      margin: 0 auto;
    }
  }
}
